img{
    height: auto;
    width: 250px;
}

.mainbody{
    color: black;
    font-family:'Times New Roman', Times, serif;
}

.totalbody{
    background-color: whitesmoke;
}

.header{
    font-size: larger;
}
